@font-face {
    font-family: 'Comfy';
    src: url(fonts/Comfy.ttf);
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: JetBrains Mono,Monaco,Menlo,monospace;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #b1daff;
    --third-bg-color:#F0F8FF;
    --main-text-color: #858585;
}

/* :root {
    --bg-color: #f0f8ff;
    --second-bg-color: #b1daff;
    --text-color: #010101;
    --main-color: #1f242d;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--main-text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-content {
    margin: auto;
    margin-top:2%;
    margin-bottom: 2%;
}

.navbar {
    display: flex;
}

.nav-box {
    border-radius: 20px;
    background-color: var(--third-bg-color);
    margin-right:5px;
    margin-left:5px;
    text-align: center;
    min-width:125px;
    padding:5px;
    box-shadow: 0 0 1rem var(--main-color);
}

.navbar a{
    font-size: 16px;
    margin:10px;
    color: var(--bg-color);
    transition: .3s;
    text-align: center;
    font-weight: 700;
}

.nav-box:hover, .nav-box:active {
    background:var(--bg-color);
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--bg-color);
    transform: scale(1.06);
}

.nav-icon {
    font-size:60px;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}


.landing {
    margin: 0% 10% 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    min-height: 20px;
    padding: 5% 10% 5% 10%;
}

.landing-content h1 {
    font-size: 120px;
    font-family: Comfy;
    display: flex;
    justify-content: center;
    color:var(--main-color);
    font-weight: bold;
    text-align: center;
}


.landing-content h3 {
    font-size: 80px;
    color: var(--main-text-color);
    font-family: Comfy;
    display: flex;
    justify-content: center;
    font-weight: normal;
    text-align: center;
}

.landing-content span {
    color: var(--main-color);
    font-family: Comfy;
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-weight: normal;
    text-align: center;
}

.landing-content p{
    font-size: 16px;
    text-align: center;
    color: var(--main-text-color);
    padding: 0% 10% 0% 10%;
}

.landing .social-media {
    display: flex;
    justify-content: center;
}

.landing .social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--bg-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.landing .social-media a:hover{
    background: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--bg-color);
}

.landing .landing-btn {
    display: flex;
    justify-content: center;
}

.landing .btn {
    display:inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color);
    font-size: 16px;
    color:var(--third-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.landing .btn:hover {
    box-shadow: none;
    color: var(--main-color);
    transform: scale(1.06);
}


.about-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--bg-color);
    margin-bottom: 4rem;
}

.design-img img {
    margin-bottom: 4rem;
    width: 100%;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

span {
    color: var(--main-color);
    font-family: Comfy;
}

.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display:inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.heading{
    text-align: center;
    font-size: 120px;
    font-family: Comfy;
}

.about {
    margin: 0% 10% 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    min-height: 20px;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
}

.about h2 {
    margin-bottom: 5rem;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-container .about-box {
    flex: 1 1 50rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    min-height: 330px;
}

.about-container .about-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.about-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.about-box h3{
    font-size: 2.6rem;
}

.about-box li {
    font-size: 1.6rem;
    margin: 1rem;
    list-style-type: none;
}

.experience {
    margin: 0% 10% 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    min-height: 20px;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
}

.experience-container p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.experience-container h2{
    font-size: 2.6rem;
}

.experience-container:before {
    content: '';
    position:absolute;
    height:100%;
    left:50%;
    width:2px;
    top:-20px;
    background:var(--main-color);
    z-index:1;
}
.experience-container{
    position:relative;
    margin-top: 50px;
    padding:50px 0;
}


.experience-container ul{
    margin:0;
    padding:0 ;
}

.experience-container ul li{
    list-style:none;
    box-sizing:border-box; 
    line-height:normal;
    position:relative;
    width:50%;
    padding: 10px 70px;
}

.experience-container ul li .right_content h2{
    color:var(--bg-color);
    padding:0px 2px 18px 0px;
}

.experience-container ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
}

.experience-container ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
}

.left_content{
    padding-bottom:20px;
}

.experience-container ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background:var(--main-color);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    right:-6px;
    top:24px;
    z-index:1;
}

.experience-container ul li:nth-child(even):before{
    content: '';
    position:absolute;
    width:10px;
    height:10px;
    background:var(--main-color);
    border-radius:50%;
    box-shadow: 0 0 0 3px rgba(58,112,239,0.2);
    left:-4px;
    top:24px;
}

.experience-container ul li:nth-child(odd) .left_content{
    position:absolute;
    top:12px;
    right:-242px;
    margin:0;
    padding:8px 16px;

    color:var(--main-text-color);
    box-shadow:0 0 0 3px var(--main-color);
    border-radius:18px;

}

.experience-container ul li:nth-child(even) .left_content{
    position:absolute;
    top:12px;
    left:-242px;
    margin:0;
    padding:8px 16px;

    color:var(--main-text-color);
    box-shadow:0 0 0 3px var(--main-color);
    border-radius:18px;

}


@media (max-width: 1000px){

    .experience-container{
        width:100%;
    }
}

@media (max-width: 767px){
    .experience-container{
        width:100%;
    }
    .experience-container:before{
        left:20px;
    }
    .experience-container ul li:nth-child(odd),
    .experience-container ul li:nth-child(even){
        width:100%;
        text-align:left;
        padding-left:50px; 
        padding-right:2rem;
        margin-bottom: 4rem;
    }

    .experience-container ul li:nth-child(odd):before
        {
        top:-18px;
        left:16px;

    }
    .experience-container ul li:nth-child(even):before
    { 
        top:-18px;
        left:16px;
    }

    .experience-container ul li:nth-child(odd) .left_content,
    .experience-container ul li:nth-child(even) .left_content
    {
        top:-30px;
        left:50px;
        right:inherit;
    }

}

.portfolio {
    margin: 0% 10% 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    min-height: 20px;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2.5rem;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
   transform: scale(1.1);
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius:2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box .portfolio-layer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(var(--bg-color), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding:0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
} 

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);    
}

.portfolio-layer h4{
    font-size: 3rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer h3{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.readMoreLink {
    color: var(--main-color);
    font-family: JetBrains Mono,Monaco,Menlo,monospace;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.contact {
    margin: 0% 10% 5% 10%;
    border-radius: 20px;
    box-shadow: 0 0 2rem var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-bg-color);
    min-height: 20px;
    padding: 5% 5% 5% 5%;
    flex-direction: column;
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding:1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form .input-box input, .contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor:pointer;

}

@media (max-width: 1200px) {
 html{
    font-size:55%;
 }
}

@media (max-width: 991px) {
    header{
       padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .about{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position:absolute;
        top:100%;
        left:0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display:none;
    }
    
    .navbar.active {
        display:block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .about-img img {
        width:70vw;
        margin-top: 4rem;
    }

    .about h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 617px) { 
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) { 
  html {
    font-size:50%;
  }

  contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) { 
    .about-img img {
        width: 90vw;
    }
}